<%= form_for(@employee_pet) do |f| %>
  <% if @employee_pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee_pet.errors.count, "error") %> prohibited this employee_pet from being saved:</h2>

      <ul>
      <% @employee_pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
